<h3 class="mx-auto" style="width: 50%;">プロフィール編集</h3>

<%= form_with model: @profile, url: '/users/profiles/:id' do |f| %>
  
  <div class="mx-auto m-1" style="width: 30%;">
    <%= f.label :user_icon ,"プロフィール画像" %>
    <% if current_user.user_icon.attached? %>
      <%= image_tag current_user.user_icon, size: '200x200', class: 'm-1' %>
    <% else %>
      <%= image_tag 'default_user_image.png', size: '200x200', class: 'm-1' %>
    <% end %>  
    <%= f.file_field :user_icon, class: 'form-control m-1' %>
  </div>

  <div class="mx-auto m-1" style="width: 15%;">
    <%= f.label :name ,"名前" %></br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mx-auto m-1" style="width: 50%;">
    <%= f.label :introduction ,"自己紹介" %><br>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>

  <div class="mx-auto" style="width: 50%">
    <%= f.submit "保存", class: 'btn btn-primary m-1'%>
  </div>

<% end %>